<div>
<style>
@media screen and (max-width:760px) {
 div{
  width:100%;
 }
}
</style>
<h3>Title</h3>
<div style="width:99%; border:thin solid #ccc; clear:both;" id="outer1">
  <div style="width:47%; height:30em; float:left;padding:.5em;resize:both;overflow:auto;">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet purus nisi, quis adipiscing magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc est justo, pharetra a placerat quis, euismod molestie mi. </p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet purus nisi, quis adipiscing magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc est justo, pharetra a placerat quis, euismod molestie mi. </p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet purus nisi, quis adipiscing magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc est justo, pharetra a placerat quis, euismod molestie mi. </p>
  </div>
  <div style="width:47%;float:left;padding:.5em;border: thin solid #666;margin:.3em;resize:both;overflow:auto;" id="outer2">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet purus nisi, quis adipiscing magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc est justo, pharetra a placerat quis, euismod molestie mi.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit 
amet purus nisi, quis adipiscing magna. Pellentesque habitant morbi 
tristique senectus et netus et malesuada fames ac turpis egestas. Nunc 
est justo, pharetra a placerat quis, euismod molestie mi. 
  </div>
  <div style="width:47%;float:left;padding:.5em;border: thin solid #666;margin:.3em;resize:both;overflow:auto;">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet purus nisi, quis adipiscing magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc est justo, pharetra a placerat quis, euismod molestie mi.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit 
amet purus nisi, quis adipiscing magna. Pellentesque habitant morbi 
tristique senectus et netus et malesuada fames ac turpis egestas. Nunc 
est justo, pharetra a placerat quis, euismod molestie mi. 
  </div>
</div>

	<br style="clear:both;">
</div>