<div>
	<h1>
		Tipologia "creative based"
	</h1>
	<p>
		La struttura/modello di tipo "creative" è centrata sulle motivazioni ed "emozioni" del
soggetto che apprende. Questo tipo di LO persegue l'attivazione di competenze non
facilmente misurabili con procedure docimologiche oggettivanti proprio perché
scarsamente predefinibili e fortemente connesse con la sfera dell'individualità. Tra queste,
la capacità di decentramento culturale, la disponibilità ad assumere punti di vista differenti,
di attivare le forme del cosiddetto pensiero creativo ecc. Le modalità didattiche privilegiate
riprendono il patrimonio formativo dell'animazione culturale: consistono in strategie, anche
provocatorie, di stimolazione nello studente di riflessioni che vanno oltre (precedono,
accompagnano, seguono) il piano della competenza oggettiva e dell'abilità professionale
per toccare la sfera del significato personale assunto da "quel" sapere per il soggetto
apprendente. Tali riflessioni costituiscono comunque un quadro di competenze
determinante in quanto pre-condizionano in modo anche inconsapevole l'atteggiamento
dello studente nei confronti dell'apprendimento e contribuiscono a definirne la qualità
effettiva.

	</p>
</div>