#tree_preview li{
    margin:0px 0 4px 1px;
}
#tree_preview .items{
    border: 1px dashed #eed;
    width:150px; height:20px;
    margin:2px 0 0 2px;text-decoration:none;
}
#tree_preview .items[selected="true"]{
    border: 1px dashed #e4b150;
    background:#ffdb96;
}
#tree_preview .items:hover{
    border: 1px dashed #909080;
}
#tree_preview .node_icons{
    margin-left:-25px;
}
#struct_toolbar{
    width:98%;
    margin:5px;
    padding:3px;
}
#struct_toolbar [type="submit"]{
    float:right;
}
#struct_toolbar img:hover{
    background:#b2bbd0;
    border: 1px solid #0a246a;
}
#struct_toolbar img{
    padding:2px;
    border: 1px solid #f0f0ee;
}
#struct_toolbar img[active=false]{
    background:#f0f0ee;
    opacity:0.3;
    border: 1px solid #f0f0ee;
}
#struct_toolbar [type="text"]:disabled{
    background:#ebebe4;
    border: 1px solid #abadb3;
}
#struct_toolbar #page_temp_list{
    width:140px;
}
#status{
    background:#FFFDE0;
    margin:auto;
    color:red;
    padding:0px 5px 0px 15px;
}
#delete_confirm input[type="button"] {
    background-color: #E7E4D3;
    border-radius: 0.3em;
    box-shadow: 0.1em 0.1em 0.2em #999999;
    padding: 1px 8px;
    text-align: center;
}



#css_preview_cell{
    background-color:#ffffff;
}
#layout_toolbar .buttons{
    background-image:url('../../../images/layout_toolbar.png');
    background-repeat: no-repeat;
    width:16px;
    height:16px;
    padding:2px;
    border: 1px solid #f0f0ee;
}
#layout_toolbar  .buttons:hover{
    background-color:#b2bbd0;
    border: 1px solid #0a246a;
}
#layout_toolbar  table{
    margin:5px 0;
    border-spacing:2px;
}
#layout_toolbar td{
    padding:4px 3px 3px 3px;
}

.layout_toolline{
    margin:7px 1px 9px 5px;
}
#layout_toolbar input{
    width:94px;
    max-width:100%;
}

#layout_exttools{
    margin:20px 0 30px 0;
}

#layout_toolbar #bold{ background-position: 0 0; }
#layout_toolbar #italic{ background-position: -20px 0; }
#layout_toolbar #underline{ background-position: -39px 0; }
#layout_toolbar #align-center{ background-position: -59px 0; }
#layout_toolbar #align-justify{ background-position: -79px 0; }
#layout_toolbar #align-left{ background-position: -99px 0; }
#layout_toolbar #align-right{ background-position: -119px 0; }
#layout_toolbar #insert-ulist{ background-position: -160px 0; }
#layout_toolbar #insert-olist{ background-position: -180px 0; }
#layout_toolbar #insert-image{ background-position: 0 -20px; }
#layout_toolbar #insert-table{ background-position: -20px -20px; }

#layout_toolbar #add_rule{
    background-image:url('../../../images/layout_toolbar.png');
    background-repeat: no-repeat;
    width:20px;
    height:20px;
    margin-bottom: -4px;
    background-position: -139px 0;
}


#layout_toolbar label{
    font-size:	13px;
}
.thumbnail{
    width:128px;
    height:128px;
    border: 1px solid #e2e2e0;
    display: table-cell;
    margin:5px 5px 5px 5px;
    vertical-align:middle;
    text-align:center;
}
.thumbnail:hover{
    background-color:#dfefef;
    border: 1px solid #d0d0cb;
}

.image_item{
    width:130px;
    display: inline-block;
    text-align:center;
    margin:5px 5px 5px 5px;
}

.image_item .delete_image{
    float:right;
    margin:-18px 0px;
    border: 1px solid #e2e2e0;
    z-index:5;
    position:relative;
}
.image_item .delete_image:hover{
    background-color:#e2e2e0;
}

.confirm{ margin:7px 5px 0px 15px; }

.confirm input{ margin:0 5px 0px 5px; }



#page_preview div,ul,li,h2,h3{
     border: 1px solid transparent;
}
#page_preview div:hover,ul:hover,li:hover,h2:hover,h3:hover{
     border: 1px dotted #d2d2d0;
}