#tree_preview li{
    /* margin:0px 0 4px 1px; */
}
#tree_preview .items{
    border: 1px dashed #eed;
    width:150px; height:20px;
    margin:2px 0 0 2px;text-decoration:none;
}
#tree_preview_creative .items{
    border: 1px dashed #eed;
    width:150px; height:20px;
    margin:2px 0 0 2px;text-decoration:none;
}
#tree_preview .items[selected="true"]{
    border: 1px dashed #e4b150;
    background:#ffdb96;
}
#tree_preview .items:hover{
    border: 1px dashed #909080;
}
#tree_preview_creative .items[selected="true"]{
    border: 1px dashed #e4b150;
    background:#ffdb96;
}
#tree_preview_creative .items:hover{
    border: 1px dashed #909080;
}
#tree_preview .node_icons{
    /* margin-left:-5px; */
}
#struct_toolbar{
    width:98%;
    margin:5px;
    padding:3px;
}
#struct_toolbar [type="submit"]{
    float:right;
}
#struct_toolbar img:hover{
    background:#b2bbd0;
    border: 1px solid #0a246a;
}
#struct_toolbar img{
    padding:2px;
    border: 1px solid #f0f0ee;
}
#struct_toolbar img[active=false]{
    background:#f0f0ee;
    opacity:0.3;
    border: 1px solid #f0f0ee;
}
#struct_toolbar [type="text"]:disabled{
    background:#ebebe4;
    border: 1px solid #abadb3;
}
#struct_toolbar #page_temp_list{
    width:140px;
}
#status{
    background:#FFFDE0;
    margin:auto;
    color:red;
    padding:0px 5px 0px 15px;
}
#delete_confirm input[type="button"] {
    background-color: #E7E4D3;
    border-radius: 0.3em;
    box-shadow: 0.1em 0.1em 0.2em #999999;
    padding: 1px 8px;
    text-align: center;
}



#css_preview_cell{
    background-color:#ffffff;
}
#layout_toolbar .buttons{
    background-image:url('../../../images/layout_toolbar.png');
    background-repeat: no-repeat;
    width:16px;
    height:16px;
    padding:2px;
    border: 1px solid #f0f0ee;
}
#layout_toolbar  .buttons:hover{
    background-color:#b2bbd0;
    border: 1px solid #0a246a;
}
#layout_toolbar  table{
    margin:5px 0;
    border-spacing:2px;
}
#layout_toolbar td{
    padding:4px 3px 3px 3px;
}

.layout_toolline{
    margin:7px 1px 9px 5px;
}
#layout_toolbar input{
    width:94px;
    max-width:100%;
}

#layout_exttools{
    margin:20px 0 30px 0;
}

#layout_toolbar #bold{ background-position: 0 0; }
#layout_toolbar #italic{ background-position: -20px 0; }
#layout_toolbar #underline{ background-position: -39px 0; }
#layout_toolbar #align-center{ background-position: -59px 0; }
#layout_toolbar #align-justify{ background-position: -79px 0; }
#layout_toolbar #align-left{ background-position: -99px 0; }
#layout_toolbar #align-right{ background-position: -119px 0; }
#layout_toolbar #insert-ulist{ background-position: -160px 0; }
#layout_toolbar #insert-olist{ background-position: -180px 0; }
#layout_toolbar #insert-image{ background-position: 0 -20px; }
#layout_toolbar #insert-table{ background-position: -20px -20px; }


#layout_toolbar #add_table, #add_rule{
    background-image:url('../../../images/layout_toolbar.png');
    background-repeat: no-repeat;
    width:20px;
    height:20px;padding:0px;
    margin-bottom: -5px;
}

#layout_toolbar #add_table{ background-position: -40px -20px;}
#layout_toolbar #add_rule{  background-position: -139px 0;}


#layout_toolbar label{
    font-size:	13px;
}
.thumbnail{
    width:128px;
    height:128px;
    border: 1px solid #e2e2e0;
    display: table-cell;
    margin:5px 5px 5px 5px;
    vertical-align:middle;
    text-align:center;
}
.thumbnail:hover{
    background-color:#dfefef;
    border: 1px solid #d0d0cb;
}

.image_item{
    width:130px;
    display: inline-block;
    text-align:center;
    margin:5px 5px 5px 5px;
}

.image_item .delete_image{
    float:right;
    margin:-18px 0px;
    border: 1px solid #e2e2e0;
    z-index:5;
    position:relative;
}
.image_item .delete_image:hover{
    background-color:#e2e2e0;
}

.confirm{ margin:7px 5px 0px 15px; }

.confirm input{ margin:0 5px 0px 5px; }



#page_prev_container{
    background-color:#ffffff;
    padding:2px;
}
#page_preview *{
    border: 1px solid transparent;
}
#page_preview *:hover{
    border: 1px dotted #d2d2d0;
}

#page_toolbar .buttons{
    background-image:url('../../../images/layout_toolbar.png');
    background-repeat: no-repeat;
    width:16px;
    height:16px;
    padding:2px;
    border: 1px solid #f0f0ee;
}
#page_toolbar  .buttons:hover{
    background-color:#b2bbd0;
    border: 1px solid #0a246a;
}

#page_toolbar  table{
    margin:5px 0;
    border-spacing:2px;
}
#page_toolbar td{
    padding:4px 3px 3px 3px;
}

.page_toolline{
    margin:7px 1px 9px 5px;
}
#page_toolbar input{
    width:94px;
    max-width:100%;
}

#page_toolbar #bold{ background-position: 0 0; }
#page_toolbar #italic{ background-position: -20px 0; }
#page_toolbar #underline{ background-position: -39px 0; }
#page_toolbar #align-center{ background-position: -59px 0; }
#page_toolbar #align-justify{ background-position: -79px 0; }
#page_toolbar #align-left{ background-position: -99px 0; }
#page_toolbar #align-right{ background-position: -119px 0; }
#page_toolbar #insert-ulist{ background-position: -160px 0; }
#page_toolbar #insert-olist{ background-position: -180px 0; }
#page_toolbar #insert-image{ background-position: 0 -20px; }
#page_toolbar #insert-table{ background-position: -20px -20px; }
#page_toolbar #insert-link{ background-position: -60px -20px; }
#page_toolbar #insert-paragraph{ background-position: -80px -20px; }

#page_toolbar #add_table{
    background-image:url('../../../images/layout_toolbar.png');
    background-repeat: no-repeat;
    background-position: -40px -20px;
    width:20px;
    height:20px;padding:0px;
    margin-bottom: -5px;
}

#page_toolbar label{
    font-size:	13px;
}

#screenshot_img{
    margin:2px 0px 5px 5px;
}
div.activ_template_page{
    background-color: #efefef;
    display: block;
}
img.table_template_page{
    position:relative;
    width: 80px;
    height: 90px;
    padding: 10px;
}
img.table_template_page:hover{
    background-color:white;
    
}
img.template_thumb{
    height:10em;
    width:11em;
    margin-left:auto;
    margin-right:auto;
}

#layout_list{
    display:block;
}
#layout_list div#tree_preview{
    overflow:auto;
}
#layout_list li span{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:10em;
}
#layout_list li {
    display: inline-block;
    list-style: inside none none;
    margin: 1em;
    border:thin solid black;
    padding:.5em;
    overflow:auto;
}
#layout_list li li{
    border: 0 none;
    margin-left: -1.5em;
    margin-top: -0.1em;
    padding: 0;

}
#layout_list li li li{
    border: 0 none;
    margin-left: -1.5em;
    margin-top: -0.1em;
    margin-bottom: 0em;
    padding: 0;

}
#layout_list li li li li{
    border: 0 none;
    margin-left: -1.5em;
    margin-top: -0.1em;
    margin-bottom:0;
    padding: 0;
}
ol.tree_page
.tree-folder ol{
        margin-bottom:-.2em;
}
.tree_folder li{
        margin-left:-2em;
}
ol.tree_page li, ol.tree_folder li, ol.folder li{
 margin:0;
 padding:0;
}