<div>
	<h3>Title</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit 
amet purus nisi, quis adipiscing magna. Pellentesque habitant morbi 
tristique senectus et netus et malesuada fames ac turpis egestas. Nunc 
est justo, pharetra a placerat quis, euismod molestie mi.
	</p><div style="text-align:center"><img src="dnd_image" width="336" height="336"><br>
	</div>
	<div>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet purus nisi, quis adipiscing magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc est justo, pharetra a placerat quis, euismod molestie mi.
	</div>
	<br>
</div>