/* IE Styles */


.center-content {
  margin:-1px 0 -21px 0;

}

.topnavlistcontainer{
	margin-top:2em;
}
.search_top{
white-space:nowrap;
font-size:.8em;
width:23em;
float:right;
margin-right:7.5em;

}

#subnavlistcontainer{
margin-left:2em;
}
#guide_box{
	width:15%;
	background-color:#ffffff;
}
.results{
	margin-left:5em;
}



div.topnavlistcontainer {
  margin-left:-2.5em;

}

.navigation a
{
  color: #000;
  zoom:100%;
  border-left:1px solid #cccccc;
  border-right:1px solid #cccccc;
  border-top:1px solid #cccccc;
  padding-bottom:.3em;

} 

.navigation li
{
	zoom:100%;
  	display: inline;
  	  padding-top:.5em;
}
ul.navigation li a:hover, ul.navigation li a:focus, ul.navigation li a.active {

        padding-bottom:.3em;

}
.course{
	margin-left:6em;
}

dl.form_layout dt{
text-align:center; 
float:left;
}

dl.form_layout dd{
margin-left: 12em;

}

div#shortcuts{
	width: 7em;
	float:right;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;

}
#shortcuts ul {
	list-style-type:  none;

}
#shortcuts li{
	display: inline;
}
