#content{
	color:						#333;
	line-height:				1.5em;
	background-color:			#FFF;
	text-align:					justify;
}

#content h2 #content h3, #content h4,
#content h5, #content h6, #content h7{
	/*#af0d1a*/

        color:						#333;				
	padding:					5px;
	padding-left:				0px;

    margin-bottom:				10px;
    margin-top:					20px;
}

#content h3{
	background-image:			url(unibo/sigillo.png);
	background-repeat: 			no-repeat;
	background-position:		left middle;
	height:						32px;
	padding-left:				40px;
}



#content a:link, #content a:visited{
	color:						#0000F0;
	text-decoration:			underline;
}

#content a:hover, #content a:active{
	color:						#0000F0;
	background:					transparent;
	text-decoration:			underline;
}

#content #anteprima-footer{
	margin-top:					10px;
	padding-top:				5px;
	border-top:					1px solid #EEE;
	font-style:					italic;
	text-align:					right;
	color:						#DDD;
}
#content #anteprima-footer:after{
	content:					'Alma Mater Studiorum - Università di Bologna';
}

#content .header .pageTemplateContent{
	background-color:			#cc0000;
	background-image:			url(unibo/testata.gif);
	background-repeat:			no-repeat;
	background-position:		left;
	height:						74px;
	width:						100%;


    /* CSS3 */
    border-radius:              3px;
    /* Safari and chrome */
    -webkit-border-radius:      3px;
    /* Firefox */
    -moz-border-radius:         3px;
    /* Linux browsers */
    -khtml-border-radius:       3px;
}

#content .logo{
	background-image:			url(unibo/logo.gif);
	background-position:		center;
	background-repeat:			no-repeat;
	padding:					10px;
	padding-right:				0px;
	float:						right;
	width:						128px;
	height:						115px;
}
