#content {
	background-image:	url('grey/atspaces_logo49.jpg');
	background-repeat:	no-repeat;
	background-position:	bottom center;
	padding-bottom:	5em;
}
#content h2 {
	color:	#666666;
	background-image:	url('grey/h-square.png');
	background-repeat:	no-repeat;
	height:	2em;
	padding-left:	1.5em;
	margin-bottom:	.5em;
	text-align:	justify;
	border:	1px solid black ;
	font-style:	italic;
}
#content h3 {
	background-image:	url('grey/h-square.png');
	background-repeat:	no-repeat;
	padding-left:	2em;
	background-color:	#eeeeee;
	margin-bottom:	.5em;
	font-weight:	700;
}
#content ul {
	font-family:	georgia;
}
#content p {
	border-bottom:	1px solidblack;
	padding:	.3em ;
	margin-bottom:	.2em;
	font-family:	arial;
	font-size:	1em;
	border:	none ;
}
#content h4 {
	text-align:	left;
	background-image:	url('grey/h-square.png');
	background-repeat:	no-repeat;
	padding-left:	2.5em;
	height:	1.6em;
	text-decoration:	underline;
}
#content ol li {
	list-style-type:	lower-roman;
	font-weight:	700;
	font-style:	italic;
	text-decoration:	underline;
	text-align:	justify;
	border:	1 solid black ;
}
#content ul {
	list-style-image:	url('grey/linkOpaque.gif');
}
#content table {
	width:	100%;
	border:	1px solid #666666 ;
	margin-left:	auto;
	margin-right:	auto;
}
#content th {
	border-bottom:	1px solid #666666;
	background-color:	#eeeeee;
}
