<h2 style="font-size: 18px;">heading</h2>
<div id="tmp_container">
<div style="width:99%; border:thin solid #ccc" id="outer1">
<div style="width:31%; float:left;padding:.5em;">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet purus nisi, quis adipiscing magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc est justo, pharetra a placerat quis, euismod molestie mi. 
</div>
<div style="width:31%;float:left;padding:.5em;">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet purus nisi, quis adipiscing magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc est justo, pharetra a placerat quis, euismod molestie mi. 
</div>
<div style="width:31%;float:left;padding:.5em;">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet purus nisi, quis adipiscing magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc est justo, pharetra a placerat quis, euismod molestie mi. 
</div>
</div>

<div style="width:99%; border:thin solid #ccc" id="outer2">
<div style="width:31%; float:left;padding:.5em;">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet purus nisi, quis adipiscing magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc est justo, pharetra a placerat quis, euismod molestie mi. 
</div>
<div style="width:31%;float:left;padding:.5em;">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet purus nisi, quis adipiscing magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc est justo, pharetra a placerat quis, euismod molestie mi. 
</div>
<div style="width:31%;float:left;padding:.5em;">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet purus nisi, quis adipiscing magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc est justo, pharetra a placerat quis, euismod molestie mi. 
</div>
</div>
<div style="width:99%; border:thin solid #ccc" id="outer3">
<div style="width:31%; float:left;padding:.5em;">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet purus nisi, quis adipiscing magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc est justo, pharetra a placerat quis, euismod molestie mi. 
</div>
<div style="width:31%;float:left;padding:.5em;">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet purus nisi, quis adipiscing magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc est justo, pharetra a placerat quis, euismod molestie mi. 
</div>
<div style="width:31%;float:left;padding:.5em;">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet purus nisi, quis adipiscing magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc est justo, pharetra a placerat quis, euismod molestie mi. 
</div>
</div>
<br style="width:100%; clear:both;" />
</div>