  
<h2>Heading 2</h2>
    <br>
    <div id="outer" style="width:100%; border-style:solid; border-color:black; border-width: 0px;height:auto;padding:0em;float:left;clear:both;margin-left:.5em;">
        <div class="content" style="float:left;width:46%;border-style:solid; border-color:black; border-width: 2px;padding:.5em;margin-right:.5em;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit 
amet purus nisi, quis adipiscing magna. Pellentesque habitant morbi 
tristique senectus et netus et malesuada fames ac turpis egestas. Nunc 
est justo, pharetra a placerat quis, euismod molestie mi.</div>
        <div class="content" style="float:left;width:46%;border-style:solid; border-color:black; border-width: 2px;padding:.5em;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit 
amet purus nisi, quis adipiscing magna. Pellentesque habitant morbi 
tristique senectus et netus et malesuada fames ac turpis egestas. Nunc 
est justo, pharetra a placerat quis, euismod molestie mi.</div>
    </div>
    <div id="outer2" style="width:100%; border-style:solid; border-color:black; border-width: 0px; height:auto;padding:0em;float:left;clear:both;margin-top:.5em;margin-left:.5em;">
        <div class="content" style=" float:left;width:46%;border-style:solid; border-color:black; border-width: 2px;margin-right:.5em;padding:.5em;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit 
amet purus nisi, quis adipiscing magna. Pellentesque habitant morbi 
tristique senectus et netus et malesuada fames ac turpis egestas. Nunc 
est justo, pharetra a placerat quis, euismod molestie mi. <br>
       </div>
        <div class="content" style=" float:left;width:46%;border-style:solid; border-color:black; border-width: 2px;padding:.5em;">
            <div style="text-align:center;">
              <img src="dnd_image"><br>
            </div>
        </div>
    </div>
<h2>Heading 2</h2>
    <br>
    <div id="outer1" style="width:100%; border-style:solid; border-color:black; border-width: 0px;height:auto;padding:0em;float:left;clear:both;margin-left:.5em;">
        <div class="content" style="float:left;width:46%;border-style:solid; border-color:black; border-width: 2px;padding:.5em;margin-right:.5em;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit 
amet purus nisi, quis adipiscing magna. Pellentesque habitant morbi 
tristique senectus et netus et malesuada fames ac turpis egestas. Nunc 
est justo, pharetra a placerat quis, euismod molestie mi.</div>
        <div class="content" style="float:left;width:46%;border-style:solid; border-color:black; border-width: 2px;padding:.5em;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit 
amet purus nisi, quis adipiscing magna. Pellentesque habitant morbi 
tristique senectus et netus et malesuada fames ac turpis egestas. Nunc 
est justo, pharetra a placerat quis, euismod molestie mi.</div>
    </div>
    <div id="outer4" style="width:100%; border-style:solid; border-color:black; border-width: 0px; height:auto;padding:0em;float:left;clear:both;margin-top:.5em;margin-left:.5em;">
        <div class="content" style="float:left;width:46%;border-style:solid; border-color:black; border-width: 2px;margin-right:.5em;padding:.5em;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit 
amet purus nisi, quis adipiscing magna. Pellentesque habitant morbi 
tristique senectus et netus et malesuada fames ac turpis egestas. Nunc 
est justo, pharetra a placerat quis, euismod molestie mi.<br>
       </div>
        <div class="content" style="color:blue; float:left;width:46%;border-style:solid; border-color:black; border-width: 2px;padding:.5em;">
            <div style="text-align:center;">
              <img src="dnd_image">
            </div>
        </div>
    </div>
    <div id="outer" style="width:98%; border-style:solid; border-color:black; border-width: 2px;height:auto;padding:0em;float:left;clear:both;margin-top:.5em;"><p><br>Put some text in the footer of the page <br><br></p>
</div>
<br style="clear:both">