  
<h2>Heading 2</h2>
    <br>
    <div id="outer" style="width:100%; border-style:solid; border-color:black; border-width: 0px;height:auto;padding:0em;float:left;clear:both;">
        <div class="content" style="float:left;width:46%;border-style:solid; border-color:black; border-width: 2px;padding:.5em;margin-right:.5em;">
            test heretest heretest here test here test here test here test here test here test here test here v vtest heretest heretest heretest heretest herevtest heretest heretest heretest heretest heretest heretest heretest heretest heretest heretest heretest heretest here
        </div>
        <div class="content" style="float:left;width:46%;border-style:solid; border-color:black; border-width: 2px;padding:.5em;">
            test heretest heretest here test here test here test here test here test here test here test here v vtest heretest heretest heretest heretest herevtest heretest heretest heretest heretest heretest heretest heretest heretest heretest heretest heretest heretest here
        </div>
    </div>
    <div id="outer" style="width:100%; border-style:solid; border-color:black; border-width: 0px; height:auto;padding:0em;float:left;clear:both;margin-top:.5em;">
        <div class="content" style=" float:left;width:47.8%;border-style:solid; border-color:black; border-width: 2px;margin-right:.5em;">
            test here
        heretest heretest heretest heretest herevtest heretest heretest heretest
 heretest heretest heretest heretest heretest heretest heretest heretest
 heretest here
        heretest heretest <br><br>
       </div>
        <div class="content" style=" float:left;width:47.8%;border-style:solid; border-color:black; border-width: 2px;">
            <div style="text-align:center;">
              <img src="dnd_image">
            </div>
        </div>
    </div>
<h2>Heading 2</h2>
    <br>
    <div id="outer" style="width:100%; border-style:solid; border-color:black; border-width: 0px;height:auto;padding:0em;float:left;clear:both;">
        <div class="content" style="float:left;width:46%;border-style:solid; border-color:black; border-width: 2px;padding:.5em;margin-right:.5em;">
            test heretest heretest here test here test here test here test here test here test here test here v vtest heretest heretest heretest heretest herevtest heretest heretest heretest heretest heretest heretest heretest heretest heretest heretest heretest heretest here
        </div>
        <div class="content" style="float:left;width:46%;border-style:solid; border-color:black; border-width: 2px;padding:.5em;">
            test heretest heretest here test here test here test here test here test here test here test here v vtest heretest heretest heretest heretest herevtest heretest heretest heretest heretest heretest heretest heretest heretest heretest heretest heretest heretest here
        </div>
    </div>
    <div id="outer" style="width:100%; border-style:solid; border-color:black; border-width: 0px; height:auto;padding:0em;float:left;clear:both;margin-top:.5em;">
        <div class="content" style="float:left;width:47.8%;border-style:solid; border-color:black; border-width: 2px;margin-right:.5em;">
            test here
        heretest heretest heretest heretest herevtest heretest heretest heretest
 heretest heretest heretest heretest heretest heretest heretest heretest
 heretest here
        heretest heretest <br><br>
       </div>
        <div class="content" style="color:blue; float:left;width:47.8%;border-style:solid; border-color:black; border-width: 2px;">
            <div style="text-align:center;">
              <img src="dnd_image">
            </div>
        </div>
    </div>
    <div id="outer" style="width:98%; border-style:solid; border-color:black; border-width: 2px;height:auto;padding:0em;float:left;clear:both;margin-top:.5em;"><p><br>Put some text in the footer of the page&nbsp; Put some text in the footer of the page&nbsp; <br><br></p>
</div>
<br style="clear:both">