#content {
	color:	#333;
	line-height:	1.5em;
	background-color:	#FFF;
	text-align:	justify;
	background-image:	url('canada/canada-sm.png');
	background-repeat:	no-repeat;
	background-position:	bottom right;
	padding-bottom:	5em;
}
#content h2, h2.page-title {
	color:	white;
	background-color:	#335075;
	background-image:	url('canada/h-square.png');
	background-repeat:	no-repeat;
	background-position:	left top;
	padding:	3px 3px 3px 30px ;
	margin-bottom:	10px;
	margin-top:	10px;
	margin-left:	0 !important;
	/*CSS3*/
	border-radius:	3px;
	text-decoration:	underline;
	/*Safari and chrome*/
	-webkit-border-radius:	2px;
	/*Firefox*/
	-moz-border-radius:	2px;
	/*Linux browsers*/
	-khtml-border-radius:	2px;
}
#content h3 {
	color:	white;
	background:	rgba(36, 56, 80, 0.9);
	background-image:	url('canada/h-square.png');
	background-repeat:	no-repeat;
	background-position:	left top;
	padding:	3px 3px 3px 30px ;
	margin-bottom:	10px;
	/*CSS3*/
	border-radius:	3px;
	/*Safari and chrome*/
	-webkit-border-radius:	2px;
	/*Firefox*/
	-moz-border-radius:	2px;
	/*Linux browsers*/
	-khtml-border-radius:	2px;
}
#content h4, #content h5, #content h6, #content h7 {
	padding:	3px 3px 3px 30px ;
	background-color:	#e1e4e7;
	background-image:	url('canada/h-square.png');
	background-repeat:	no-repeat;
	background-position:	left top;
	border-radius:	3px;
	color:	#000;
	font-size:	1em;
	font-weight:	700;
	margin-bottom:	10px;
	margin-left:	0;
	margin-right:	0;
}
#content ul {
	margin-top:	30px;
	list-style-image:	url('canada/list.gif');
}
#content ul li {
	padding:	3px ;
}
#content a:link {
	text-decoration:	underline;
	color:	#295376;
	background:	transparent;
	background-color:	#EBF4FA;
}
#content a:visited {
	color:	#5a306b;
}
#content a:hover, #content a:focus, #content a:active {
	text-decoration:	none;
	background-color:	#EBF4FA;
	color:	#B00000;
}
.pageTemplateContent {
	height:	30px;
	background-image:	url('canada/h-square');
	background-repeat:	no-repeat;
	background-position:	100% 100%;
}
#content table {
	width:	100%;
	border:	1px solid #af3c43 ;
}
#content table th {
	background-color:	#e1e4e7;
}
